<!DOCTYPE html>
	<html lang="en">
		<head>
		  <meta charset="UTF-8">
		  <title>Eat Da Burger</title>
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		  <script src="https://code.jquery.com/jquery.js"></script>
		</head>
		<body>
		  

		    <div class="container">
		      <div class="header clearfix">
		        <nav>
		          <ul class="nav nav-pills pull-right">
		            <li role="presentation"><a href="/">Home</a></li>
		            <li role="presentation"><a href="/login">Login</a></li>
		            <li role="presentation"><a href="/registration">Registration</a></li>
		            <li role="presentation"><a href="/burgers">Burgers</a></li>
		          </ul>
		        </nav>
		        <h3 class="text-muted">Eat-Da-Burger</h3>
		      </div>
			<div>
		     {{{body}}}
			</div>
			<br>
			<br>
		    </div> <!-- /container -->
		</body>
	</html>
