

 <div class="jumbotron text-center">
      <h2>Add A Burger Here:</h2>
      <form id="newBurger" class="button-size">
        <input type="text" name="burger">
        <button type="submit">New Burger</button>
      </form>
      </div>

<hr>
        <h3 class="text-center title">List of Burgers to Devour:</h3>

        <div id="error" class="text-center">
          
        </div>

        {{#each burgers}}

        <div class="col-md-2 text-center">
          <h4>{{this.burger_name}}</h4>
          <hr>
          <button data-burgerid="{{this.id}}" class="deleteBurg">Devour!</button>
        </div>
      
        {{/each}}