

 <div class="jumbotron text-center">
    <h2>Add A Burger Here:</h2>
    <form id="newBurger" class="button-size">
      <input type="text" name="burger">
      <button type="submit">New Burger</button>
    </form>
  </div>

<hr>
        <h3 class="col-md-6 title">List of Burgers to Devour:</h3>
        <h3 class="col-md-6 title devoured">Devoured</h3>
        <div id="error" class="text-center">
          
        </div>

          {{#each devoured}}
         
               <div class="col-md-6 text-center devoured">
                 <p>{{this.burger_name}}</p>
               </div>

          {{/each}}


           {{#each notDevoured}}

             <div class="col-md-6 notdevoured">
               <p>{{this.burger_name}}
               <button data-delburgerid="{{this.id}}" class="deleteBurg">Delete</button>
               <button data-putburgerid="{{this.id}}" class="updateBurg">Devour!</button></p>
             </div>

            {{/each}}

           
       
         