<div class="jumbotron text-center">
    <h2>What do you want to update the burger to:</h2>
    <form id="updateBurger" class="button-size">
      <input type="text" name="burger">
      <button type="submit">Update</button>
    </form>
  </div>