  .title {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .col-md-2 {
    margin-top: 50px;
  }

  #error {
    color: red;
  }
  
  .notdevoured {
    float: left;
    clear: both;
  }

  .devoured {
    float: right;
  }